<form (ngSubmit)="submitMethod()" [formGroup]="employeeForm">
    <h1 class="mt-4">Create User</h1>
    <div class="form-group">
        <label for="username">Enter Name</label>
        <input type="text" formControlName="username" name="username" id="username" autocomplete="false" class="form-control is-invalid" placeholder="Please enter your username" aria-describedby="helpId">
        <small id="username_helpId" class="text-muted">* Required </small>
        <div class="text-danger" *ngIf="((employeeForm.get('username').touched || employeeForm.get('username').dirty) && employeeForm.get('username').errors?.required)">
            Password is a required field
        </div>
    </div>
    <div class="form-group">
        <label for="password">Enter Password</label>
        <input type="password" formControlName="password" name="password" id="password" class="form-control" placeholder="Please enter 8 digit password" aria-describedby="helpId">
        <small id="password_helpId" class="text-muted">Password must be greater than 8 digit</small>
        <div class="text-danger" *ngIf="((employeeForm.get('password').touched || employeeForm.get('password').dirty) && employeeForm.get('password').errors?.required)">
            Password is a required field
        </div>
        <div class="text-danger" *ngIf="((employeeForm.get('password').touched || employeeForm.get('password').dirty) && employeeForm.get('password').errors?.minlength)">
            Password must be greater than 8 characters
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>