<div class="app-main__inner" style="height: 100% !important;">

    <div class="row" style="width: 100% !important;">
        <div class="main-card mb-3 card" style="width: 100% !important;">
            <div class="card-body">
                <h5 class="card-title">Create Test</h5>
                <div *ngIf="showSuccessStatus && showSuccessStatus == true">
                    <div class="alert alert-primary" role="alert">
                        <strong>{{showSuccessMessage}}</strong>
                    </div>
                </div>

                <div *ngIf="showErrorStatus && showErrorStatus == true">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{showErrorMessage}}</strong>
                    </div>
                </div>
                <form class="" [formGroup]="startTestForm" (ngSubmit)="onSubmit()">
                    
                    
                    <div *ngIf="startTestForm.controls['CandidateId'].invalid && (startTestForm.controls['CandidateId'].dirty || startTestForm.controls['CandidateId'].touched)" class="alert alert-danger">
                        <div *ngIf="startTestForm.controls['CandidateId'].errors.required">
                            CandidateId is required.
                      </div>
                    </div>
                    
                    <div *ngIf="startTestForm.controls['numberOfQuestion'].invalid && (startTestForm.controls['numberOfQuestion'].dirty || startTestForm.controls['numberOfQuestion'].touched)" class="alert alert-danger">
                        <div *ngIf="startTestForm.controls['numberOfQuestion'].errors.required">
                            Number Of Question is required.
                      </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 ">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" class="">Candidate Name</label>
                                <select class="mb-2 form-control" aria-placeholder="Enter Tech Stack eg MERN/MEAN/LAMP" formControlName="CandidateId">
                              <option value=""> Please Select</option>
                              <option *ngFor="let hero of candidateList; let i = index" value={{hero.candidateId}}>{{hero.firstName  + hero.lastName }}</option>
                          </select>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="position-relative form-group"><label for="exampleEmail11" class="">Number of Questions</label>
                                <select class="mb-2 form-control" aria-placeholder="Enter Tech Stack eg MERN/MEAN/LAMP" formControlName="numberOfQuestion">
                                <option value="">Please Select</option>
                                <option> 5</option>
                                <option> 7</option>
                                <option> 9</option>
                                <option> 11</option>
                                <option> 13</option>
                            </select>
                            </div>
                        </div>

                    </div>
                    <button class="mt-2 btn btn-primary ">Submit</button>
                    <span style="padding: 2px;"></span>
                    <button class="mt-2 btn btn-danger ">Cancel</button>
                </form>
            </div>
        </div>

    </div>
</div>
